body{
    background-color: rgb(61, 231, 118);
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
}
h2{
    height: 70px;
    padding-top: 10px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 40px;
    font-family: cursive;
}
td{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:20px;

    
}

input{
    height:35px;
    border-radius: 20px;
}
h3{
    font-size: 27px;
}
button{
    background-image: linear-gradient(white,rgb(107, 235, 107),rgb(142, 238, 142),rgb(32, 219, 32));
    height: 50px;
    width: 300px;
    border-radius: 20px;
}
.container{
    text-align: center;
}